{% extends 'base.html' %}

{% block content %}



{{ user_name }}
<div class="wrapper">

    <div class="sub-header">
<a href="{% url 'create_blog' %}">
    <button>Write New Blog</button>
</a>

<a href="{% url 'my_blogs' %}">
    <button>My Blogs</button>
</a>

{% if request.session.role == 'admin' %}
<a href="{% url 'pending_blogs' %}">
    <button>Pending Blogs</button>
</a>
{% endif %}
</div>

<!---Page Header-->
<h1 class="page-title">All Blogs</h1>
{% csrf_token %}

<form method="GET" action="{% url 'blog_list' %}">
    <label for="search">Search Blogs:</label>
    <input id="search-bar" type="text" name="q" placeholder="🔍 Search blogs..." value="{{ request.GET.q }}" autocomplete="off">
    <button type="submit">Search</button>
    <div id="suggestions"></div>
</form>

<br>

<div class="blog-container">

{% for blog in blogs %}

<div class="blog-card">

    <h2>{{ blog.title }}</h2>
    <h1>{{ blog.summary }}</h1>

      <!-- 🔍 DEBUG LINE -->
    <p>{{ blog.is_liked }}</p>


    <p>{{ blog.content|truncatewords:30 }}</p>

    <p>
        <strong>Author:</strong> {{ blog.user.name }}
    </p>

    <p>
        <small>{{ blog.created_at }}</small>
    </p>

    <a href="{% url 'blog_detail' blog.id %}">Read More</a>

    <p>Likes:
        <span id="like-count-{{ blog.id }}"> {{ blog.like_set.count }} </span>
    </p>
    <button class="like-btn" data-id="{{ blog.id }}">
        {% if blog.is_liked %}
            ❤️ Liked
        {% else %}
            🤍 Like
        {% endif %}
    </button>
    <!-- ADMIN EDIT / DELETE -->
    {% if request.session.role == 'admin' %}
        <br><br>
        <a href="{% url 'edit_blog' blog.id %}"><button>Edit</button></a><br>
        <a href="{% url 'delete_blog' blog.id %}"><button>Delete</button></a>
    {% endif %}
</div>

<br>

{% empty %}

<p>No blogs available.</p>

{% endfor %}
</div>

{% endblock %}