{% extends 'base.html' %}

{% block content %}

<div class="form-container">

    <h1>Create New Blog</h1>

    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}

    <form method="POST">
        {% csrf_token %}

        <label>Title</label><br>
        <input type="text" name="title" required><br><br>

        <label>Content</label><br>
        <textarea name="content" rows="6" required></textarea><br><br>

        <button type="submit">Publish Blog</button><br><br>

        <a href="{% url 'blog_list' %}"><button>Back to Blogs</button></a>

    </form> 

    
</div>
{% endblock %}