{% extends 'base.html' %} {% block content %}

<h1>Edit Blog</h1>

<form method="POST">
  {% csrf_token %}

  <label>Title</label><br />

  <input type="text" name="title" value="{{ blog.title }}" /><br /><br />

  <!-- ✅ SUMMARY (ADD THIS) -->
  <label>Summary</label><br />
  <textarea
    name="summary"
    rows="3"
    placeholder="Enter short description..."
    required
  >
{{ blog.summary }}</textarea
  >
  ><br /><br />

  <label>Content</label><br />

  <textarea name="content" rows="6">{{ blog.content }}</textarea><br /><br />

  <button type="submit">Update Blog</button>
</form>

{% endblock %}
